@model IT.MvcWebUI.Models.ProductViewModel

@{
    ViewData["Title"] = "GetProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content ">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>

                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#ModalAdd">Product Add</button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 20%">
                            Name
                        </th>
                        <th style="width: 20%">Explanation</th>
                        <th style="width: 30%">
                            AddedBy
                        </th>
                        <th style="width: 30%">
                            AddedDate
                        </th>
                        <th style="width: 8%" class="text-center">
                            CategoryId
                        </th>
                        <th style="width: 20%">
                            Event
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.products)
                    {
                        <tr>
                            <td>@product.ProductId</td>
                            <td>@product.ProductName</td>
                            <td>@product.Explation</td>
                            <td>@product.AddedBy</td>
                            <td>@product.AddedDate</td>
                            <td>@product.CategoryName</td>
                            <td>
                                <button class="btn btn-primary" data-toggle="modal" data-target="#ModalEdit" onclick="EditCategory(@product.ProductId)">Edit</button>
                                <button class="btn btn-danger" onclick="DeleteCategory(@product.ProductId)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Product" asp-action="Edit" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Edit</h5>
                    <input type="hidden" id="ProductId" asp-for="@Model.product.Id" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group-lg">
                            <label class="dts_label">CategoryId:</label>
                            <select class="form-control" asp-for="@Model.product.CategoryId" asp-items="@Model.Categories" id="CategoryId"></select>
                        </div>
                        <div class="form-group-lg ">
                            <label class="dts_label">Name:</label>
                            <input class="form-control" placeholder="Product Name" asp-for="@Model.product.Name" id="ProductName" />
                        </div>

                        <div class="form-group-lg">
                            <label class="dts_label">Explanation:</label>
                            <input class="form-control" placeholder="Explanation" asp-for="@Model.product.Explanation" id="Explanation" />
                        </div>
                        <div class="form-group-lg">
                            <label class="dts_label">Weight:</label>
                            <input class="form-control" placeholder="Weight" asp-for="@Model.product.Weight" id="Weight" />
                        </div>
                        <div class="form-group-lg">
                            <label class="dts_label">Width:</label>
                            <input class="form-control" placeholder="Width" asp-for="@Model.product.Width" id="Width" />
                        </div>
                        <div class="form-group-lg">
                            <label class="dts_label">Height:</label>
                            <input class="form-control" placeholder="Height" asp-for="@Model.product.Height" id="Height" />
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Product" asp-action="Add" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Add</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group-lg">
                            <label class="dts_label">CategoryId:</label>
                             <select class="form-control" asp-for="@Model.product.CategoryId" asp-items="@Model.Categories">
                                 <option value="-1" selected disabled>--Seçiniz</option>
                             </select>
                        </div>
                        <div class="form-group-lg ">
                            <label class="dts_label">Name:</label>
                            <input class="form-control" placeholder="Product Name" asp-for="@Model.product.Name" />
                        </div>

                        <div class="form-group-lg">
                            <label class="dts_label">Explanation:</label>
                            <input class="form-control" placeholder="Explanation" asp-for="@Model.product.Explanation" />
                        </div>
                        <div class="form-group-lg">
                            <label class="dts_label">Weight:</label>
                            <input class="form-control" placeholder="Weight" asp-for="@Model.product.Weight" />
                        </div>
                        <div class="form-group-lg">
                            <label class="dts_label">Width:</label>
                            <input class="form-control" placeholder="Width" asp-for="@Model.product.Width" />
                        </div>
                        <div class="form-group-lg">
                            <label class="dts_label">Height:</label>
                            <input class="form-control" placeholder="Height" asp-for="@Model.product.Height" />
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function EditCategory(id) {
        $.get('/Product/Edit', { id: id })
            .done(function (result) {
                
                $("#ProductId").val(result.id);
                $("#ProductName").val(result.name);
                $("#Explanation").val(result.explanation);
                $("#Weight").val(result.weight);
                $("#Width").val(result.width);
                $("#Height").val(result.height);
                $("#CategoryId").val(result.categoryId);
                $("#ModalEdit").modal("show");
            })
    }

    function DeleteCategory(id) {
        $.get('/Product/Delete', { id: id })
            .done(function (result) {
                if (result == 0) {
                    alert("işlem gerçekleşmedi");
                } else {
                    alert("işlem gerçekleşti"); location.reload();
                }

            })
    }
</script>